---
// src/components/ContentRenderer/variants/SocialMediaVariant.astro
/**
 * Social Media Variant - Social icon list
 * Features: Horizontal/vertical layout, size variants, left/center/right alignment
 */

import type { BaseVariantProps } from "../ContentRenderer.types";
import SocialIcon from "@/components/LoopComponents/SocialIcon.astro";

interface Props extends BaseVariantProps {
  size?: "sm" | "md" | "lg";
  layout?: "horizontal" | "vertical";
  alignment?: "left" | "center" | "right";
}

const {
  items = [],
  title,
  description,
  className = "",
  size = "md",
  layout = "horizontal",
  alignment = "center",
  id,
} = Astro.props as Props;

const alignmentClasses = {
  left: "justify-start",
  center: "justify-center",
  right: "justify-end",
};

const layoutClasses = {
  horizontal: "flex-row",
  vertical: "flex-col",
};
---

<div id={id} class={`${className}`}>
  {
    (title || description) && (
      <div class={`mb-6`}>
        {title && (
          <h3 class="text-2xl text-heading text-left font-bold">
            {title}
          </h3>
        )}
        {description && <p class="text-text">{description}</p>}
      </div>
    )
  }

  {
    items.length > 0 && (
      <ul
        class={`flex ${layoutClasses[layout]} ${alignmentClasses[alignment]} gap-1 list-none flex-wrap`}
      >
        {items.map((item) => (
          <li>
            <SocialIcon {...item} size={size} />
          </li>
        ))}
      </ul>
    )
  }
</div>
